<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Accelerometer
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div full>

    <h1> X: {{x}} </h1>
  </div>
  <div full>

    <h1> Y: {{y}} </h1>
  </div>

  <div full>
    <h1> Z: {{z}} </h1>
  </div>

  <div class="button_group" style="width:100%">
    <button style="width:33.3%" (click)="startListening()"> Start Listening </button>
    <button style="width:33.3%" (click)="stopListening()"> Stop Listening </button>
    <button style="width:33.3%" (click)="resetCurrentData()"> Reset Current Data </button>
  </div>


  <ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label stacked>Measurement Name:</ion-label>
      <ion-input type="text" [(ngModel)]="outputMeasurement" text-right id="outputMeasurement" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Threshold( Unit: m/s^2):</ion-label>
      <ion-input type="number" [(ngModel)]="selfDefinedThreshold" text-right id="selfDefinedThreshold" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Interval( Unit: sec):</ion-label>
      <ion-input type="number" [(ngModel)]="selfDefinedInterval" text-right id="selfDefinedInterval" ></ion-input>
    </ion-item>
    <ion-item>
      <button ion-button [disabled]="checkIsEnabled()" (click)="saveData()">Send data</button>
    </ion-item>
    <!-- <ion-item>
      <ion-label >
      {{lableText}}
      </ion-label>
    </ion-item> -->
  </ion-list>
</ion-content>

</ion-content>
